# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.5.0=pyhd8ed1ab_0
aiohttp=3.10.11=pypi_0
aiosignal=1.3.2=pyhd8ed1ab_0
annotated-types=0.7.0=pyhd8ed1ab_1
anyio=4.8.0=pyhd8ed1ab_0
appnope=0.1.4=pyhd8ed1ab_1
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=3.0.0=pyhd8ed1ab_1
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pyhd8ed1ab_0
attrs=25.1.0=pyh71513ae_0
babel=2.17.0=pypi_0
backoff=2.2.1=pypi_0
beautifulsoup4=4.13.3=pypi_0
bleach=6.2.0=pypi_0
brotli-python=1.1.0=py312hde4cb15_2
bzip2=1.0.8=h99b78c6_7
ca-certificates=2025.1.31=hf0a4a13_0
certifi=2025.1.31=pyhd8ed1ab_0
cffi=1.17.1=py312h0fad829_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.1=pyhd8ed1ab_0
click=8.1.8=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
comm=0.2.2=pyhd8ed1ab_1
cryptography=44.0.2=pypi_0
dataclasses-json=0.6.7=pyhd8ed1ab_1
debugpy=1.8.13=py312hd8f9ff3_0
decorator=5.2.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
distro=1.9.0=pypi_0
emoji=2.14.1=pypi_0
eval-type-backport=0.2.2=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
fastjsonschema=2.21.1=pypi_0
filelock=3.17.0=pypi_0
filetype=1.2.0=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.5.0=py312h998013c_1
fsspec=2025.3.0=pypi_0
greenlet=3.1.1=py312hd8f9ff3_1
h11=0.14.0=pyhd8ed1ab_1
h2=4.2.0=pyhd8ed1ab_0
hpack=4.1.0=pyhd8ed1ab_0
html5lib=1.1=pypi_0
httpcore=1.0.7=pyh29332c3_1
httpx=0.28.1=pyhd8ed1ab_0
httpx-sse=0.4.0=pyhd8ed1ab_1
huggingface-hub=0.29.2=pypi_0
hyperframe=6.1.0=pyhd8ed1ab_0
idna=3.10=pyhd8ed1ab_1
importlib-metadata=8.6.1=pyha770c72_0
iniconfig=2.0.0=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=9.0.2=pyhfb0248b_0
ipython_pygments_lexers=1.1.1=pyhd8ed1ab_0
ipywidgets=8.1.5=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jinja2=3.1.6=pypi_0
jiter=0.9.0=pypi_0
joblib=1.4.2=pypi_0
json5=0.10.0=pypi_0
jsonpatch=1.33=pyhd8ed1ab_1
jsonpointer=3.0.0=py312h81bd7bf_1
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-events=0.12.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.15.0=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh31011fe_1
jupyterlab=4.3.5=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
krb5=1.21.3=h237132a_0
langchain=0.3.20=pymin312_hff2d567_0
langchain-community=0.3.19=pymin312_hff2d567_0
langchain-core=0.3.43=pyhd8ed1ab_0
langchain-experimental=0.3.4=pypi_0
langchain-huggingface=0.1.2=pypi_0
langchain-openai=0.3.8=pypi_0
langchain-pinecone=0.2.3=pypi_0
langchain-tests=0.3.14=pypi_0
langchain-text-splitters=0.3.6=pyhd8ed1ab_0
langdetect=1.0.9=pypi_0
langgraph=0.3.5=pyhd8ed1ab_0
langgraph-checkpoint=2.0.18=pyhd8ed1ab_0
langgraph-prebuilt=0.1.2=pyhd8ed1ab_0
langgraph-sdk=0.1.55=pyhd8ed1ab_0
langsmith=0.2.11=pyhd8ed1ab_0
libblas=3.9.0=31_h10e41b3_openblas
libcblas=3.9.0=31_hb3479ef_openblas
libcxx=19.1.7=ha82da77_0
libedit=3.1.20250104=pl5321hafb1f1b_0
libexpat=2.6.4=h286801f_0
libffi=3.4.2=h3422bc3_5
libgfortran=5.0.0=13_2_0_hd922786_3
libgfortran5=13.2.0=hf226fd6_3
liblapack=3.9.0=31_hc9a63f6_openblas
liblzma=5.6.4=h39f12f2_0
libmagic=1.0=pypi_0
libopenblas=0.3.29=openmp_hf332438_0
libsodium=1.0.20=h99b78c6_0
libsqlite=3.49.1=h3f77e49_1
libzlib=1.3.1=h8359307_2
llvm-openmp=19.1.7=hdb05f8b_0
lxml=5.3.1=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.26.1=pyhd8ed1ab_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mistune=3.1.2=pypi_0
mpmath=1.3.0=pypi_0
msgpack-python=1.1.0=py312h6142ec9_0
multidict=6.1.0=py312hdb8e49c_1
mypy_extensions=1.0.0=pyha770c72_1
nbclient=0.10.2=pypi_0
nbconvert=7.16.6=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.5=h5e97a16_3
nest-asyncio=1.6.0=pyhd8ed1ab_1
networkx=3.4.2=pypi_0
nltk=3.9.1=pypi_0
notebook=7.3.2=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=1.26.4=py312h8442bc7_0
olefile=0.47=pypi_0
openai=1.65.5=pypi_0
openssl=3.4.1=h81ee809_0
orjson=3.10.15=py312hcd83bfe_0
overrides=7.7.0=pypi_0
packaging=24.2=pyhd8ed1ab_2
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pexpect=4.9.0=pyhd8ed1ab_1
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=11.1.0=pypi_0
pinecone=5.4.2=pypi_0
pinecone-plugin-inference=3.1.0=pypi_0
pinecone-plugin-interface=0.0.7=pypi_0
pip=25.0.1=pyh8b19718_0
platformdirs=4.3.6=pyhd8ed1ab_1
pluggy=1.5.0=pypi_0
prometheus-client=0.21.1=pypi_0
prompt-toolkit=3.0.50=pyha770c72_0
propcache=0.2.1=py312h998013c_1
psutil=7.0.0=py312hea69d52_0
ptyprocess=0.7.0=pyhd8ed1ab_1
pure_eval=0.2.3=pyhd8ed1ab_1
pycparser=2.22=pyh29332c3_1
pydantic=2.10.6=pyh3cfb1c2_0
pydantic-core=2.27.2=py312hcd83bfe_0
pydantic-settings=2.8.1=pyh3cfb1c2_0
pygments=2.19.1=pyhd8ed1ab_0
pypdf=5.3.1=pypi_0
pysocks=1.7.1=pyha55dd90_7
pytest=8.3.5=pypi_0
pytest-asyncio=0.25.3=pypi_0
pytest-socket=0.7.0=pypi_0
python=3.12.9=hc22306f_1_cpython
python-dateutil=2.9.0.post0=pyhff2d567_1
python-dotenv=1.0.1=pyhd8ed1ab_1
python-iso639=2025.2.18=pypi_0
python-json-logger=3.3.0=pypi_0
python-magic=0.4.27=pypi_0
python-oxmsg=0.0.2=pypi_0
python_abi=3.12=5_cp312
pyyaml=6.0.2=py312h998013c_2
pyzmq=26.2.1=py312hf4875e0_0
rapidfuzz=3.12.2=pypi_0
readline=8.2=h1d1bf99_2
referencing=0.36.2=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.3=pyhd8ed1ab_1
requests-toolbelt=1.0.0=pyhd8ed1ab_1
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.23.1=pypi_0
safetensors=0.5.3=pypi_0
scikit-learn=1.6.1=pypi_0
scipy=1.15.2=pypi_0
send2trash=1.8.3=pypi_0
sentence-transformers=3.4.1=pypi_0
setuptools=75.8.2=pyhff2d567_0
six=1.17.0=pyhd8ed1ab_0
sniffio=1.3.1=pyhd8ed1ab_1
soupsieve=2.6=pypi_0
sqlalchemy=2.0.38=py312hea69d52_0
stack_data=0.6.3=pyhd8ed1ab_1
sympy=1.13.1=pypi_0
syrupy=4.9.0=pypi_0
tenacity=9.0.0=pyhd8ed1ab_1
terminado=0.18.1=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.9.0=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.13=h5083fa2_1
tokenizers=0.21.0=pypi_0
torch=2.6.0=pypi_0
tornado=6.4.2=py312hea69d52_0
tqdm=4.67.1=pyhd8ed1ab_1
traitlets=5.14.3=pyhd8ed1ab_1
transformers=4.49.0=pypi_0
types-python-dateutil=2.9.0.20241206=pypi_0
typing-extensions=4.12.2=hd8ed1ab_1
typing-inspection=0.4.0=pypi_0
typing_extensions=4.12.2=pyha770c72_1
typing_inspect=0.9.0=pyhd8ed1ab_1
tzdata=2025a=h78e105d_0
unstructured=0.16.25=pypi_0
unstructured-client=0.31.1=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.3.0=pyhd8ed1ab_0
wcwidth=0.2.13=pyhd8ed1ab_1
webcolors=24.11.1=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
widgetsnbextension=4.0.13=pypi_0
wrapt=1.17.2=pypi_0
yaml=0.2.5=h3422bc3_2
yarl=1.18.3=py312h998013c_1
zeromq=4.3.5=hc1bb282_7
zipp=3.21.0=pyhd8ed1ab_1
zstandard=0.23.0=py312h15fbf35_1
zstd=1.5.6=hb46c0d2_0
